name: Publish

on:
  workflow_dispatch:
  push:
    tags:
      - v[2].[0-9]+.[0-9]+

permissions:
  contents: read
  id-token: write

jobs:

  build:
    runs-on: ubuntu-latest

    outputs:
      status: ${{ steps.build.outcome }}

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: "24"
          registry-url: "https://registry.npmjs.org"
      

      - name: Install and Build
        run: |
          npm ci
          npm run build

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: build-output
          path: ./dist
          retention-days: 1

  run-tests:
    needs: build
    uses: ./.github/workflows/run_tests.yml

  publish:
    needs: run-tests
    runs-on: ubuntu-latest

    steps:

      - uses: actions/setup-node@v4
        with:
          node-version: '24'
          registry-url: 'https://registry.npmjs.org'
      
      - name: Download Build Artifact
        uses: actions/download-artifact@v4
        with:
          name: build-output
          path: ./dist

      - name: Publish new version to NPM
        id: publish-to-npm
        run: npm publish --provenance
